<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Auth Tester for Stacker</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron" style="margin-top: 10%; max-width: 90%;">
            <h1 class="display-4">Login success!</h1>
            <p class=lead>Copy your token and make postman API request.</p>
            <p class=text-justify th:text="${accessToken}"></p>
            <hr class="my-4">
            <a class="btn btn-info btn-lg" 
            th:href="@{/}" 
            role="button">Back to login page</a>
        </div>
    </div>
</body>
</html>